---
import Layout from "../layouts/Layout.astro";
import { authenticatedUser } from "../stores/authenticated-user";
---

<Layout description="Perivel.com">
	<main>
		{ authenticatedUser.get() ? `Logged in as ${authenticatedUser.get()!.name}` : "Not Logged In" }
	</main>
</Layout>